{% extends 'Catalog/base.html' %}
{% block title %} Каталог {% endblock %}

{% block content %}
<ol>
{% for prod in all_prod %}
    <li>Название - {{prod.name}}</li>
    <li>Марка - {{prod.mark}}</li>
    <li>Цена - {{prod.price}} Количество - {{prod.count}}</li>
    <li>Марка - {{prod.mark.name}}</li>
    <li>Фото - <img src="/media/{{prod.photo}}" alt=""></li>
    <li>Категория </li>
    <ul>
        {% for cat in prod.category.all %}
        <li>{{cat}}</li>
        {% endfor %}
        </ul>
    <a href="{% url 'detail' prod.id %}"> Информация о товаре</a>
    <hr>
{% endfor %}
</ol>

{% endblock %}