{% extends 'Catalog/base.html' %}
{% block title %} Каталог {% endblock %}

{% block content %}
<ol>
    {% for i in selected %}
{% for prod in i %}
    <li>Название - {{prod.name}}</li>
    <li>Марка - {{prod.mark}}</li>
    <li>Цена - {{prod.price}} Количество - {{prod.count}}</li>
    <li>Марка - {{prod.mark.name}}</li>
    <li>Фото - <img src="/media/{{prod.photo}}" alt=""></li>
    <li>Категория - {{prod.category}} </li>
    <ul>
        {% for cat in prod.category.all %}
        <li>{{cat}}</li>
        {% endfor %}
        </ul>
    <hr>
    {%endfor%}
{% endfor %}
</ol>

{% endblock %}